<template>
  <div class="container">
    <form @submit.prevent="submitIdea()">
      <div class="input-group">
        <label for="username">Username</label>
        <input v-model="usernameInput" id="username" type="text" placeholder="@river">
      </div>
      <div class="input-group">
        <label for="title">Title</label>
        <input v-model="titleInput" id="title" type="text">
      </div>
      <button>Submit</button>
    </form>
    <div v-for="idea of allIdeas" :key="idea._id" class="card" :style="{'background-color': randomColor()}">
      <span class="created-by">@{{idea.created_by}}</span>
      <h1>{{idea.title}}</h1>
    </div>
  </div>
</template>

<script>
import {ref} from 'vue';
import axios from 'axios';
export default {
  name: 'App',
  setup() {
    const usernameInput = ref('');
    const titleInput = ref('');
    const allIdeas = ref([]);

    function getAllIdeas() {
      axios.get(process.env.VUE_APP_API_URL + '/idea/all').then((response) => {
        allIdeas.value = response.data;
      });
    }

    function submitIdea() {
      axios.post(
        process.env.VUE_APP_API_URL + '/idea/create',
        {title: titleInput.value, createdBy: usernameInput.value}
      ).then(() => {
        getAllIdeas();
      });
    }

    function randomColor() {
      const colorArray = [
        '#8CB369',
        '#F4E285',
        '#F4A259',
        '#5B8E7D',
        '#BC4B51'
      ]

      return colorArray[Math.floor(Math.random() * colorArray.length)];
    }

    getAllIdeas();
    return {
      usernameInput,
      titleInput,
      submitIdea,
      allIdeas,
      randomColor
    };
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
body {
  font-family: 'Source Code Pro', monospace;
}
.container {
  width: 70%;
  margin: auto;
}
.card {
  border-radius: 15px;
  /* border: 1px solid grey; */
  padding: 15px;
  box-shadow: 10px 5px black;
  text-align: center;
  margin: auto;
  margin-top: 8%;
}
.created-info {
  margin-bottom: 20px;
}
.created-by {
  font-size: 18pt;
}
label {
  vertical-align: top;
  display: block;
}
form {
  width: 50%;
  margin: auto;
  text-align: center;
}
button {
  margin-top: 15px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px;
}
</style>
